<a class="btn btn-primary" href="<%= base %>/new"><i class="fa fa-plus"></i> Add User</a>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Admin</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <% insts.forEach(function(u) { %>
                    <tr>
                        <td><%- u.admin ? '<i class="fa fa-check"></i>' : '' %></td>
                        <td><%= u.name() %></td>
                        <td><%= u.email %></td>
                        <td class="bold"><a href="<%= base %>/edit/<%= u.id %>"><i class="fa fa-edit"></i></a>
                          <a href="<%= base %>/delete/<%= u.id %>" class="delete-confirm"><i class="fa fa-remove"></i></a></td>
                    </tr>
                  <% }) %>
                    
                </tbody>
            </table>

